* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.title,
.subtitle {
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

.title {
  font-size: 52px;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.recipe-card-list  ul {
  list-style: none;
}

.recipe-card-list {
  margin-top: 160px;
}

.card {
   display: inline-block;
   text-align: center;

   background-color: whitesmoke;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;

   height: auto;
   width: 240px;
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

   margin-right: 50px;
   margin-bottom: 25px;
}

.card-title {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* ---------- Separating main page from recipe pages css ---------- */

ol,
ul {
  list-style-position: inside;
  text-align: left;
  display: inline-block;
}

.recipe-img {
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 32px;
}

.recipe {
  font-size: 24px;
  margin: 50px auto;
  width: 600px;
}

.recipe-steps ol {
  width: 400px;
}

.recipe li {  
  margin-bottom: 20px;
}

.home {
  margin-bottom: 15px;
}