/* Color palette 
#F7A4A4
#FEBE8C
#FFFBC1
#B6E2A1
*/

body {
  background-color: #FFFBC1;
}

/* Card styling */
.card-row {
  text-align: center;
}

.card {
  background-color: white;
  display: inline-block;
  padding: 0;
  margin: 10px;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for headers */
.page-header {
  border-bottom: 1px solid #F7A4A4;
  padding-bottom: 50px;
  margin: 25px ;
  text-align: center;
}

.header {
  font-family:Helvetica, sans-serif;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  display: inline;
  padding-bottom: 10px;
  vertical-align: middle;
}

h1 {
  color: #F7A4A4;
  font-size: 56px;
  font-weight: 1000;
}

/* h2 {
  background-color: #FEBE8C;
  color: white;
} */

.recipes-header {
  vertical-align: center;
  text-align: center;
  margin-bottom: 50px;
}

.recipe-header-text {
  font-size: 36px;
  display: inline;
  vertical-align: middle;
}

.icon {
  display: inline;
  vertical-align: middle;
}

.icon-header {
  width: 100px;
  height: 100px;
}

.icon-recipe {
  width: 50px;
  height: 50px;
}

/* Styles for unordered and ordered lists */

ul, ol {
  line-height: 2;
  list-style-position: inside;
}

ul {
  list-style-type: none;
}

.recipe-list li,
.recipe-ingredients li,
.recipe-steps li {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  background-color: #FFFBC1;
}
